#shutdownConfirmationYesButton {
    background-color: #E74C3C; 
    color: white; 
    padding: 5px none;
}

#shutdownConfirmationNoButton {
    background-color: #0078D7; 
    color: white; 
    padding: 5px none;
}